* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "roboto", sans-serif;
  font-weight: 800;
  font-size:30px;
}

body {
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
  padding: 60px;
  gap:30px;
}
body h1{
  font-size:52px;
  font-weight: 900;
  font-family: "Arial Black", "roboto"
}
.calculator-frame {
  display: flex;
  background-color: #e8e8e8;
  border: 5px solid rgb(0, 0, 0);
  box-shadow: 8px 8px 1px 0px rgba(0, 0, 0, 0.849);
  border-radius: 15px;
  height: 650px;
  width: 400px;
}
.calculator {
  display: flex;
  flex-direction: column;
  flex: 1;
  width:min-content;
  height: 640.7;
}
.screen-frame {
  display: flex;
  flex: 1;
  justify-content: end;
  align-items: center;
  height: 160px;
  background-color: #e8e8e8;
  font-size: 62px;
  padding-right:10px;
  padding-bottom:40px;
  border-top-left-radius: 11px;
  border-top-right-radius: 11px;
}
.screen-frame p{
  font-size:52px;
}
.buttons {
  display: flex;
  justify-content: space-between;
  border-radius: 20px;
  border-bottom-left-radius: 11px;
  border-bottom-right-radius: 11px;
  background-color: #bc5a5a;
  padding: 25px 15px;
  width: 100%;
}
.numbers {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items:center;
  gap:14px;
  width: 265px;
  height: 424px;
}
.operators {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}
.img{
  pointer-events:none;
  width: 32px;
}
button {
  display:flex;
  justify-content:center;
  align-items:center;
  margin: 2px;
  width: 75px;
  height: 68px;
  background-color:#D9D9D9;
  box-shadow: 8px 8px 1px 0px rgba(0, 0, 0, 0.795);
  border-radius: 15px;
  text-align: center;
}
button:hover{
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.795);
}
.enter{
  width: 165px;
  font-size:32px;
}
.btn0{
  width:265px;
}